{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Howdy, {{ user.username }}!

  <h4>Today's Pickups</h4>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Zip Code</th>
      <th>Current Balance</th>
      <th>Confirm Pickup</th>
    </tr>
    {% for customer in matching_customers %}
    <tr>
      <td>{{customer.first_name}}</td>
      <td>{{customer.last_name}}</td>
      <td>{{customer.zip_code}}</td>
      <td>{{customer.current_balance}}</td>
      <td><a class="btn btn-sm btn-outline-success" href="{% url 'employees:confirm_pickup' customer.id %}">Confirm Pickup</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}