{% extends "base.html" %}

{% block title %}Customer Account Creation{% endblock %}

{% block content %}

    <form action ="{% url 'customers:create' %}", method="POST">
        {% csrf_token %}
        First Name: <input type="text", name="first_name", id="first_name"><br />
        Last Name: <input type="text", name="last_name", id="last_name"><br />
        Street Address: <input type="text", name="street_address", id="street_address"><br />
        City: <input type="text", name="city", id="city"><br />
        State: <input type="text", name="state", id="state"><br />
        Zip Code: <input type="text", name="zip_code", id="zip_code"><br />
        <label for="pickup_day">Select Pickup Day</label>
        <select name="pickup_day" id="pickup_day">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select><br />
        <input type="submit" value="Create Account!">
    </form>
    
{% endblock %}