{% extends 'base.html' %}

{% block title %} My Account {% endblock %}


{% block content %}
<h1>Account Information:</h1>
<h4>Name: {{ single_customer.first_name }} {{ single_customer.last_name }}</h4>
<h4>Address: {{ single_customer.street_address }}</h4>
<h4>City: {{ single_customer.city }}</h4>
<h4>State: {{ single_customer.state }}</h4>
<h4>Zip Code: {{ single_customer.zip_code }}</h4>
</br>
</br>
<h4>Pickup Day: {{ single_customer.pickup_day }}</h4>
<h4>Current Account Balance: {{ single_customer.current_balance }}</h4>

{% if single_customer.has_extra_pickup == True %}
<h4>Your 1-time pickup is scheduled for: {{ single_customer.extra_pickup_day }}</h4>
{% endif %}
{% endblock %}